.navbar{
	height: 65px;
	border-bottom: rgba(153, 1, 0, 0.32);
	border-style: groove;
	border-left: none;
	border-right: none;
	border-top: none;
	border-width: 2px;
	padding-left: 20px;

}

.navbar-command{
	display: block;
	float: left;
	padding: 22px 16px;
	text-decoration: none;
	font-size: 20;
	margin-right: 20px;
	margin-left: 20px;
	color: #333333;
}

.navbar-command:hover{
	color: #B90504;
}

