.section{
	padding-right: 15em;
	padding-left: 15em;
	text-align: center;
}

.section-title{
	font-size: 52;
	font-weight: bold;
	margin-bottom: 1em;
	color: #990100;
}

.section-content{
	font-size: 24;
	line-height: 2rem;
	margin-bottom: 5em;
}

.icon:before{
	font-size: 10em !important;
	font-weight: 100 !important;
	margin-bottom: 1em;

}

.icon{
	height: 256;
	width: 256;
	margin-bottom: 1em;
}

.section-hr{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.section-hr > .section-content{
	flex-grow: 1;
	flex-shrink: 1;
	width: 15%;
	padding-left: 5px;
	padding-right: 5px;
	min-width: 300px;
}

.vertical-separator{
	border-right: black;
	border-left: black;
	border-style: groove;
	height: 256px;
	margin-right: 5px;
	margin-left: 5px;
	border-width: 1px;
	border-color: rgba(153, 1, 0, 0.65)
}

.list-icon:before{
	font-size: 1em;
	color: green;
	margin-right: .5em;
}

.features-list > li{
	text-align: left;
}

#buy-section{
	padding: 0px;
}

#buy-button:hover{
	background-color: #d60302 !important;
}